
.title{
    height: 35px;
    margin-top: -16px;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.descripcion{
    text-align: center;
    margin-bottom: 30px;
}

.image2{
    height: 120px;
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
}
.img5{
margin-top: 50px;
width: 115px;
}

