
.title{
    height: 35px;
    margin-top: -16px;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.descripcion{
    text-align: center;
    margin-bottom: 30px;
}

.img2{
    height: 170px;
    width: 380px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}