
.foto{
    width: 100%;
    display: flex;
    justify-content: center;
}

.img1{
    margin-top: 15px;
    width: 220px;
    height: 280px;
    border-radius: 20px;
    border: 3px solid #ffffff;
}
